<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Robert Hung-Wei Chiang">
        <title>{% block title %}Robert Hung-Wei Chiang{% endblock title %}</title>

        <link href="{{ url_for('static', filename='css/lib/bootstrap/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">

        {% block css %}{% endblock css %}
    </head>
    <body>
        {# header #}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ url_for('index') }}">Robert Hung-Wei Chiang</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('about') }}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('resume') }}">Resume</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('interests') }}">Interests</a>
                    </li>
                </ul>
            </div>
        </nav>

        {# for homepage #}
        {% block jumbotron %}{% endblock jumbotron %}

        <script src="{{ url_for('static', filename='js/lib/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lib/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lib/bootstrap/bootstrap.min.js') }}"></script>
    </body>
</html>
