{% extends "base.html" %}

{% block css %}
    <link href="{{ url_for('static', filename='css/interests.css') }}" rel="stylesheet">
{% endblock css %}

{% block content %}
    {# photography #}
    <fieldset>
        <legend>Photography</legend>
        <div class="row">
            <div class="col-md-12">
                <h4>Camera:</h4>
                <p>Nikon D750</p>
                <h4>Camera Lens:</h4>
                <p>Nikon AF-S NIKKOR 35mm f1.8G ED</p>
                <p>NIKON AF-S NIKKOR 24-120 mm f/4G ED VR</p>
                <p><del>Nikon AF-S 18-35mm f/3.5-4.5G ED</del> <strong>(sold)</strong></p>
                <p><del>TAMRON SP 90mm F/2.8 Di MACRO 1:1 VC USD (F004)</del> <strong>(sold)</strong></p>
                <p>TAMRON SP 70-300mm F/4-5.6 Di VC USD (A005)</p>
            </div>
        </div>

        <div class="row">
            {% for photo in photos %}
                <div class="col-md-4">
                    <figure class="figure">
                        <a href="{{ photo.href }}" target="_blank">
                            <img class="figure-img img-fluid rounded" src="{{ url_for('static', filename='img/interests/photography/') }}{{ photo.filename }}">
                            <figcaption class="figure-caption text-center">{{ photo.caption }}</figcaption>
                        </a>
                    </figure>
                </div>
            {% endfor %}
        </div>
    </fieldset>

    {# hobby #}
    <fieldset>
        <legend>Hobby</legend>
        <div class="row">
            <div class="col-md-12">
                <h4>Play Computer Games</h4>
                <p><a href="https://store.steampowered.com/app/646570/Slay_the_Spire/" target="_blank">Slay the Spire</a></p>
                <p>Diablo-like games (<a href="https://www.pathofexile.com/game" target="_blank">Path of Exile</a>, <a href="https://store.steampowered.com/app/219990/Grim_Dawn/" target="_blank">Grim Dawn</a>)</p>
                <p>Horror games</p>
                <h4>Sports</h4>
                <p>Bodyweight workout (<a href="https://www.books.com.tw/products/0010899937?gclid=Cj0KCQiAk4aOBhCTARIsAFWFP9Fym-GEPe-waNT11ki4crfUP8-OY1PTvH_c0LOpyOlBOt7mGEBc3NMaArd7EALw_wcB" target="_blank">You Are Your Own Gym: The Bible of Bodyweight Exercises</a>)</p>
                <p>Jogging</p>
                <p>Playing Basketball</p>
                <h4>Music</h4>
                <p>My favorite singer is <a href="http://officialbirdy.com/" target="_blank">Birdy</a></p>
                <h4>Watch Movies and TV Shows</h4>
                <p>I love every movies <a href="http://www.imdb.com/name/nm0634240/" target="_blank">Christopher Nolan</a> made</p>
            </div>
        </div>
    </fieldset>

    {# ukulele #}
    <fieldset>
        <legend>Ukulele</legend>
        <div class="row">
            <div class="col-md-8">
                <h4>How to Play Jason Mraz - I'm Yours on Ukulele</h4>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" frameborder="0" allowfullscreen src="https://www.youtube.com/embed/POFF0vHpBgw?rel=0"></iframe>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h4>梁靜茹 - 小手拉大手</h4>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" frameborder="0" allowfullscreen src="https://www.youtube.com/embed/l6x-_MJE5kY?rel=0"></iframe>
                </div>
            </div>
        </div>
    </fieldset>

    {# guitar #}
    <fieldset>
        <legend>Guitar</legend>
        <div class="row">
            <div class="col-md-8">
                <h4>How to Play Kina Grannis - Valentine on Guitar</h4>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" frameborder="0" allowfullscreen src="https://www.youtube.com/embed/x-Me2BJS4N4?rel=0"></iframe>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h4>Canon (finger style)</h4>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" frameborder="0" allowfullscreen src="https://www.youtube.com/embed/JlOI0g2nr5M?rel=0"></iframe>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h4>My Heart Will Go On (finger style)</h4>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" frameborder="0" allowfullscreen src="https://www.youtube.com/embed/zkV3Yrjer0k?rel=0"></iframe>
                </div>
            </div>
        </div>
    </fieldset>
{% endblock content %}
